

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width">
    <title>Layout</title>
    <link href="https://fonts.googleapis.com/css?family=Abel|Oswald|Prompt display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
   <div class="container">
       <header>
           <h1>h1</h1>
           <nav>
               <a href="index.html">link1</a>
               <a href="index2.html">link2</a>
               <a href="index3.html">link3</a>
           </nav>
       </header>
       <main>
        <aside>
               <h2>h2 Aside</h2>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit deleniti placeat vero, eum
                    repudiandae voluptatibus quod iusto possimus ratione debitis neque mollitia molestiae tempore at,
                    qui officiis. Consequatur, itaque? Illum!</p>
              
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit deleniti placeat vero, eum
                    repudiandae voluptatibus quod iusto possimus ratione debitis neque mollitia molestiae tempore at,
                    qui officiis. Consequatur, itaque? Illum!</p>
               <figure class="left">
                   
                  <a href="https://placeholder.com"><img src="https://via.placeholder.com/150X100.jpg/000000/ffffff?text=Placeholder+by+placeholder.com"></a>
                <figcaption>fig caption</figcaption>
              </figure>
               
           </aside>
          
           <h2>h2</h2>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit <span><bold>SPAN ELEMENT</bold></span>deleniti placeat vero, eum
                    repudiandae voluptatibus quod iusto possimus ratione debitis neque mollitia molestiae tempore at,
                    qui officiis. Consequatur, itaque? Illum!</p>
                    <span>This is a <strong>SPAN ELEMENT</strong> acting as it's own paragraph.</span>
           
           <a href="https://placeholder.com"><img src="https://via.placeholder.com/150X100.jpg/000000/ffffff?text=Placeholder+by+placeholder.com"></a>
           
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit deleniti placeat vero, eum
                repudiandae voluptatibus quod iusto possimus ratione debiti neque mollitia molestiae tempore at,
                    qui officiis. Consequatur, itaque? Illum!</p>
            <a href="https://palceholder.com"><img src="https://via.placeholder.com/400X200.jpg/000000/ffffff?text=Placeholder+by+placeholder.com"></a>
        
                 <article>
               <figure>
                   <h2>Article</h2>
                   <img src="fullmoon.jpg" alt="fullmoon" id="surfing">
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit deleniti placeat vero, eum
                     repudiandae voluptatibus quod iusto possimus ratione debiti neque mollitia molestiae tempore at,
                    qui officiis. Consequatur, itaque? Illum! </p>
                  <a href="https://placeholder.com"><img src="https://via.placeholder.com/150X100.jpg/000000/ffffff?text=Placeholder+by+placeholder.com"></a>
                <figcaption>fig caption</figcaption>
              </figure>
           </article>
           <h2>h3</h2>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit <span><bold>SPAN ELEMENT</bold></span>deleniti placeat vero, eum
                    repudiandae voluptatibus quod iusto possimus ratione debitis neque mollitia molestiae tempore at,
                    qui officiis. Consequatur, itaque? Illum!</p>
                    <span>This is a <strong>SPAN ELEMENT</strong> acting as it's own paragraph.</span>
           
           <a href="https://placeholder.com"><img src="https://via.placeholder.com/150X100.jpg/000000/ffffff?text=Placeholder+by+placeholder.com"></a>
           <img src="surfing.jpg" alt="surfing" id="surfing">
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit deleniti placeat vero, eum
                repudiandae voluptatibus quod iusto possimus ratione debiti neque mollitia molestiae tempore at,
                    qui officiis. Consequatur, itaque? Illum!</p>
            <a href="https://palceholder.com"><img src="https://via.placeholder.com/400X200.jpg/000000/ffffff?text=Placeholder+by+placeholder.com"></a>
            <section>
                <h2><strong>SECTION</strong></h2>
                <p>This is a section on it's own</p>
            </section>
            <div class="static">This is a <bold>STATIC</bold> position</div>
           
            </main>
       <footer>
           <p>© Eric Richard Peterson 2020</p>
       </footer>
   </div>
    
</body>
</html>
